* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #222222;
}

body {
    color: #f1f1f1;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

button {
    background-color: #444444;
    color: #f1f1f1;
    border: none;
    font-family: Verdana;

    transition-property: background-color, color;
    transition-duration: 0.1s;
}

button:hover {
    background-color: #333333;
}

button:focus {
    background-color: #c78330;
    color: #444444;
}

#backgroundGradient {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -999;
    background-image:
        linear-gradient(20deg, rgba(85, 56, 35, 0.6), rgba(85, 56, 35, 0)),
        linear-gradient(5deg, rgba(85, 56, 35, 0.6), rgba(85, 56, 35, 0));
}

#webGLCanvasWrapper {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1;
}

#webGLCanvas {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}

#header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#headerTitle {
    font-size: 3rem;
}

#headerButtons {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
}

.headerButton {
    height: 100%;
    width: 30%;
    align-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0);

    transition-property: color;
    transition-duration: 0.4s;
}

.headerButton:hover {
    color: rgba(255, 255, 255, 0.5);
}

.headerButton a {
    color: inherit;
    text-decoration: none;
}

.headerButtonLogoWrapper {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerButtonLogoWrapperInner {
    transform: scale(0.6);

    transition-property: transform;
    transition-duration: 0.4s;
}

.headerButton:hover .headerButtonLogoWrapperInner {
    transform: scale(0.7);
}

.headerButtonLogo {
    height: 100%;
    width: 100%;
}

.headerButtonTextWrapper {
    font-style: italic;
}

#lineBreak {
    width: 400px;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

#contactInfo {
    width: 500px;
    text-align: center;
}

#contactInfoFields {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
}

#contactInfoFields hr {
    border: 0;
    border-block-start: 24px solid rgba(255, 255, 255, 0.2);
    width: 1px;
}

.contactInfoField b {
    padding: 5px;
}

.contactInfoField span {
    font-style: italic;
    padding: 5px;
}

#fSphereElementsContainer {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    top: 0;
    /* transform-style: preserve-3d; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 2;
}

.fSphereElement {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}